@import '../../../../scss/';

.todoListContainer {
  border: solid 1px $darkSlateBlue;
  background-color: $ligthSteelBlue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  width: max-content;
  li{
    font-size: 1.2rem;
  }
}

.todosContainer {
  display: table;
  height: 100%;
  padding: 10px;
}

.todoListTitle{
  color: $darkSlateBlue;
  display: flex;
  padding: 10px;
}